<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="abot" type="Abot.Core.AbotConfigurationSectionHandler, Abot"/>
  </configSections>

  <appSettings>

    <!-- Statistic CSV filename -->
    <add key="StatisticsFilename" value="111_stats.csv" />

    <!-- Default site to be presented on Site URL -->
    <add key="DefaultSite" value="http://www.exent.com" />

    <!-- Log filename -->
    <add key="LogFilename" value="log.txt" />

    <!-- Debeg detailes level: 0 = All, 1 = Warnings, 2 = Errors only -->
    <add key="DebugLevel" value="0" />

    <!-- Root folder to be used for logs and site statistics -->
    <add key="ResultsRootFolder" value="./" />

    <!-- Unwanted HTML tags. Comma seperated list -->
    <add key="ScrapHTMLTags" value="script,style,#comment" />

    <!-- Attributes to be checked in each node. Comma seperated list -->
    <add key="TagAttributes" value="alt,title" />

  </appSettings>

  <abot>
    <crawlBehavior
      maxConcurrentThreads="10"
      maxPagesToCrawl="10"
      maxPagesToCrawlPerDomain="0"
      maxPageSizeInBytes="0"
      userAgentString="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; abot v@ABOTASSEMBLYVERSION@ http://code.google.com/p/abot)"
      crawlTimeoutSeconds="0"
      downloadableContentTypes="text/html, text/plain"
      isUriRecrawlingEnabled="false"
      isExternalPageCrawlingEnabled="false"
      isExternalPageLinksCrawlingEnabled="false"
      httpServicePointConnectionLimit="200"
      httpRequestTimeoutInSeconds="15"
      httpRequestMaxAutoRedirects="7"
      isHttpRequestAutoRedirectsEnabled="true"
      isHttpRequestAutomaticDecompressionEnabled="false"
      minAvailableMemoryRequiredInMb="0"
      maxMemoryUsageInMb="0"
      maxMemoryUsageCacheTimeInSeconds="0"
      maxCrawlDepth="100"
      />
    <politeness
      isRespectRobotsDotTextEnabled="false"
      robotsDotTextUserAgentString="abot"
      maxRobotsDotTextCrawlDelayInSeconds="5"
      minCrawlDelayPerDomainMilliSeconds="1000"/>
    <extensionValues>
      <add key="key1" value="value1"/>
      <add key="key2" value="value2"/>
    </extensionValues>
  </abot>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>  
</configuration>